name: Java CI with Maven

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: |
        if [ "${{ github.event_name }}" == "pull_request" ]; then
          export IDENTIFIER="PR-${{ github.event.number }}-${{ github.head_ref }}"
        else
          export IDENTIFIER="PUSH-${{ github.ref_name }}"
        fi
        
        mvn -B package -DfinalName="myapp-$IDENTIFIER" --file pom.xml

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
